   
*{
    margin:0;
    padding:0;
    border-radius: 5px;
}
body{
        background:linear-gradient(rgba(239, 139, 0, 0.3),rgba(253, 247, 247, 0.876));
        background-position: cover;
        background-size: cover;
        background-repeat:no-repeat;
    }
.menu li a::after{
    content:"";
    position: absolute;
    bottom: 0;
    left:0;
    width:0;
    height: 2px;
    background-color: #db8f37;
    transition: 0.15s ease-in-out;
    justify-content: center;
}
.menu li a:hover:after{width:100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor:pointer;
    font-size:1.5rcm;
}
.open-menu {
    top:50px;
    right:20px; 
    transform:translateY(-50%);
}
.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(0, 0, 0, 0.87) !important; 
    font-size: 1em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    background-color: #a59b68;
}
.navbar-brand img{
    position: absolute;
    display: inline;
    width:100px;
    height:100px;
    overflow:hidden;
    margin-left: -50px;
    top:0;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-brand span{
    position: relative;
    display: flex;
    color:#201d129c !important;
    text-transform: uppercase;
    font-size:20px ;
    margin-top: 20px;
    margin-left: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
} 
 .navbar-nav .nav-link {
        position: relative;
        margin-right: 30px;
        margin-left: 30px;
        color:rgb(16, 34, 25) !important;
        font-weight: bold;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
  .active {
      background-color: #fecea6;
      animation:animateBlink 3s linear infinite;
      width: auto;
     
         
    }
 .navbar-nav .nav-link::after{
       content:"";
    position: absolute;
    bottom: 0;
    left:0;
    width:0;
    height: 2px;
    background-color: #db8f37;
    transition: 0.15s ease-in-out;
    justify-content: center;
    }
    .navbar-nav  .nav-link:hover:after{
        width: 100%;
    }
    .navbar-nav .nav-link:hover{
        background-color: #fecea6;
        border-radius: 10px;
        padding: 12px;
        animation: 5ms;
        animation:animateBlink 3s linear infinite;
          transform:translatey(-10%);

    }
    .jumbotron img{
        height: 550px;
    }
     .container .jumbotron{
        margin-top: 30px;
        padding: 0;

     }
     .jumbotron{
        position: relative;
    /* background: url("../image/home_bg.jpg") no-repeat;*/
      background-clip: initial;
     overflow: hidden;
     height: 600px;
     margin-top: 12px;
     box-shadow: 0 0 2px #403527;
     
   }

   .jumbotron img{
    width: 100%;
    height:100vh;
   }   
    .text-center-menu{
    font-style: oblique;
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
    padding:20px 0;
    color:#2b1f12;
   }     
   
   #menu-tile,#special-tile,#map-tile{
    margin: 15px;
    height:250px;
    width:100%;
    margin-bottom: 15px;
    position: relative;
    border:2px solid #f1c368;
    overflow: hidden;
   }     
   #minu-tile:hover,#special-tile:hover,#map-tile:hover{
    box-shadow:0 1px 5px 1px #cccccc;
   }
   #menu-tile{
    background: url('../image/images\ \(10\).jpg') no-repeat;
    background-position: center;
    background-size: cover;
     border-radius: 20px;
    
   }
   #special-tile{
    background: url('../image/images\ \(3\).jpg') no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
   
   }
   #map-tile{
    background-position: center;
    border-radius: 20px;
   }
   #menu-tile:hover , #special-tile:hover , #map-tile:hover{
    transform: translateY(-3%);
   }
    #home-tiles{
    margin-top: 60px;
    position: relative;
    width: 90%;
    margin-left: 60px;
   } 
   
 #menu-tile span,#special-tile span,#map-tile span {
    position: absolute;
    bottom:0;
    right:0;
    width:100%;
    text-align: center;
    font-size:1.6em;
    text-transform: uppercase;
    background-color: #000;
    color:#fff;
    opacity: .8;
   }
   .menu-item-tile{
    margin-top: 25px;
   }
   .menu-item-tile hr{
    width:80%;
   }
   .menu-item-tile .menu-item-price{
    font-size: 1.1em;
    text-align:right;
    margin-top: -15px;
    margin-right:-15px;
    border-radius: 10px;
   }
   .menu-item-tile .menu-item-price span {
    font-size: .6em;
   }
   .menu-item-photo {
    position: relative;
    border: 2px solid #333;
    overflow:hidden;
    padding:0;
    margin-right: -15px;
    margin-left:auto;
    margin-bottom: 20px;
    max-width:250px;
   }
   .menu-item-photo div{
    position:absolute;
    bottom:0;
    right:0;
    width:80px;
    background-color: #557c3e;
    text-align: center;
   }

   .menu-item-description{
    padding-right:30px;
   }
   h3.menu-item-title{
    margin:0 0 10px;
   }
   .menu-item-details{
    font-size:.9em;
    font-style: italic;
   }
   .panel-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top:0;
    color: hsl(0, 0%, 100%);
    width: 100%;
   }   
   .panel-footer div.row{
   margin:10px;
   margin-bottom:30px;
   } 
   #hours, #address{
      font-style:italic;
    line-height:2;
   }
   #hours > span, #address > span{
    font-size:1.2em;
   }
   #address p{
    color:#557c3e;
    font-size: .8em;
    line-height:2.5;
   }
   #testimonials{
    font-style:italic;
    line-height:2.1;
   }
   #testimonials p:nth-child(2) {
    margin-top:25px;
   }
   .category-tile{
    position: relative;
    border: 2px solid #3d3a3a;
    overflow: hidden;
    width:200px;
    height:200px;
    margin: 0 auto 15px;
   }                    
   .category-tile span{
    position: absolute;
    bottom:0;
    right:0;
    width:100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color:#fff;
    opacity: .8;
    
   }  
   .category-tile:hover{
    box-shadow: o 1px 5px 1px #cccccc;
   }  
   #menu-categories-title + div {
    margin-bottom: 50px;
   } 
   .text-center{
    font-style: oblique;
    display:flex;
    justify-content:center;
    align-items: center;
    width:100%;
    padding:20px 0;
    color:#db8f37;
   }           
/*------large size-----*/
@media(max-width:1600px){
    .jumbotron{
        background: url('../image/cafe-house.webp') no-repeat;
        background-size: cover;
        height:675px;
        box-shadow: 0 0 50px #3f0c1f;
        border:1px solid #9c8e93;
        border-radius: 30px;
        
        
     }
    
}
/*------meduim size-----*/
@media (min-width:992px) and (max-width:1199px){
    

    .jumbotron{
        background: url('../image/cafe-house.webp') no-repeat;
        height:675px;
        box-shadow: 0 0 50px #3f0c1f;
        border:2px solid #3f0c1f;
        background-size: cover;
     }

   .category-tile{
    position: relative;
    border: 2px solid #3d3535;
    overflow: hidden;
    width:200px;
    height:200px;
    margin: 30px auto 15px;
   }
    .menu-item-description{
        display: flex;
        padding-right:30px;
   }
   .menu-item-title{
    margin:10px;
   }
   .menu-item-details{
    margin: 10px;
    font-size:.7em;
    font-style: italic;
   }

    /*.jumbotron{
       height: 500px;
        margin-left: 5px;
          background: url("../image/home_bg.jpg") no-repeat;
    } */
}
/*------extrea small----*/
@media(min-width:800px) and (max-width:991px){
    .jumbotron{
        background: url('../image/cafe-house.webp') no-repeat;
        height:675px;
        box-shadow: 0 0 10px #3f0c1f;
        border:1px solid #cda8b5;
        background-size: cover;
        background-position: cover;
     }
     .category-tile{
    position: relative;
    border: 2px solid #3d3535;
    overflow: hidden;
    width:200px;
    height:200px;
    margin: 30px auto 15px;
   }
    /*.jumbotron{
    background-image: url("../image/home_bg_500.jpg") no-repeat;    
    }*/
    .navbar-nav{
        text-align: center;
    }
    .menu-item-photo{
    margin-right:auto;
    }
    .menu-item-tile .menu-item-price{
        text-align:center;
    }
     #home-tiles{
    margin-top: 60px;
    position: relative;
    width: 90%;
    margin:10px;
    margin-left: 25px;
   }
} 
@media(min-width:500px) and (max-width:680px){
    .navbar-brand img{
        position: relative;
        display: flex;
        width: 80px !important;
        height:60px !important;
        margin: auto;
        margin-left: -5px !important;
    }
    .navbar-brand span{

         position: relative;
    display: flex;
    color:#201d129c !important;
    text-transform: uppercase;
    font-size:12px;
    margin-top: px;
    margin-left: 80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    }

}
@media(min-width:500px) and (max-width:790px){
     .jumbotron{
        background: url('../image/cafe-house.webp') no-repeat;
        height:675px;
        box-shadow: 0 0 10px #3f0c1f;
        border:1px solid #cda8b5;
        background-size: cover;
        background-position: cover;
        height: 80vh;
     }
       .category-tile{
    position: relative;
    border: 2px solid #3d3535;
    overflow: hidden;
    width:200px;
    height:200px;
    margin: 30px auto 15px;
   }
     .navbar-brand img{
        position: absolute;
        display: flex;
        width: 80px !important;
        height:60px !important;
        margin: auto;
        margin-left: -60px;
    }
     #home-tiles{
     margin-top: 60px;
     position: relative;
     width: 90%;
     margin:40px;
    }
    .navbar-brand img{
     width: 40px;
     height:40px;
    }
    #home-tiles{
     margin-top: 60px;
     position: relative;
     margin:12px;
   }
    .menu-item-tile{
    margin-bottom: 25px;
   }
   .menu-item-tile hr {
    width: 60%;
   }
   
 .menu-item-photo{
    position: relative;
    margin-right:auto;
    height: 200px;
    width:200px;
    }
    .menu-item-tile .menu-item-price{
        text-align:center;
        font-size: 12px;
    }
    .panel-footer{
        text-align: center;
    }
    
    .menu-item-tile{
    margin-bottom: 25px;
    text-align: center;
    }
   .menu-item-tile hr {
    width: 80%;
    margin-left: 35px;
   }
}


/*------xextra small---*/
@media(min-width:200px) and (max-width:500px){

.navbar-nav li a{
       position: relative;
        display: inline;
        margin: 10px;
        color:rgb(3, 5, 4) !important;
        font-weight: bold;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        cursor: pointer;
    }
    .navbar-brand span{
    position: relative;
    display: flex;
    color:#201d129c !important;
    text-transform: uppercase;
    font-size:12px;
    margin-top: px;
    margin-left: 80px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
}
    .navbar-nav li{
        display: inline;
        margin: auto;
        justify-content: center;
        width:100px;
    }

    .jumbotron{
    
    background: url('../image/home_bg_400.jpg') no-repeat;
    background-position: cover;
    border: 1px solid #333;
    overflow:hidden;
    height: 300px;
    background-size: cover;

     }
     .navbar-brand img{
        position: absolute;
        display: flex;
        width: 80px !important;
        height:60px !important;
        margin: auto;
        
    }
    
   
  #home-tiles{
    margin-top: 60px;
    position: relative;
    width: 90%;
    margin: auto;
    margin-left: 3px;
    
   }

.navbar-brand h6{
    color:#2e3016;
    text-transform: uppercase;
    font-size:8px;
    margin-left: 100px;
    margin-top: -20px;
   }
 .menu-item-photo{
    position: relative;
    margin-right:auto;
    height: 200px;
    width:200px;
    }
    .menu-item-tile .menu-item-price{
        text-align:center;
        font-size: 12px;
    }
    .panel-footer{
        text-align: center;
    }
    
 .menu-item-tile{
    margin-bottom: 25px;
    text-align: center;
   }
   .menu-item-tile hr {
    width: 80%;
    margin-left: 35px;
   }
}